@font-face {
  font-family: 'slick';
  src: url('../assets/fonts/slick.woff') format('woff'),
       url('../assets/fonts/slick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
